*{
    font-size: small;
}
a{
    text-decoration: none;
}
body {
    font: caption;
}
#list{
    width: auto;
    margin-right: 200px;
    padding: 0;
    padding-right: 1px;
    height: 250px;
}
#fileList{
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 236px;
}
#upBtn{
    position: absolute;
    right: 195px;
    top:15px;
    width: 10px;
    height: 247px;
    text-align: center;
    padding: 0;
}
#cmd{
    position: absolute;
    right: 10px;
    top:0;
    width: 180px;
    height: 263px;
}
#codeList{
    margin-top: 10px;
    width: 140px;
}
#code{
    margin-top: 5px;
    width: 173px;
    height: 110px;
    padding: 0;
}
#codeInfo{
    margin: 0;
    padding: 0;
    width: 170px;
    height: 94px;
    resize: none;/*关掉右下角手柄*/
}
.cmdBtn{
    margin-left: 2px;
    margin-top: 2px;
    width: 176px;
    height: 22px;
}
#setting{
    width: 100%;
    height: 92px;
    margin-top: 5px;
}
#logoAdd{
    width: 342px;
}
.setBtn{
    width: 70px;
}
.coor{
    width: 50px;
}
#rotation{
    width: 115px;
    height: 25px;
    display: inline;
}
.rotation{
    margin: 0;
}
.prePostAdd{
    width: 239px;
}
#outDiv{
    margin-left: 5px;
    margin-top: 4px;
}
#outputAdd{
    width: 514px;
}
#progress{
    margin-top: 3px;
    width: auto;
    height: 15px;
    background: #CCC;
}
#progressWalk{
    margin: 0;
    padding: 0;
    height: 15px;
    width: 30%;
    background: #5A5;
}
#progressText{
    margin-top: -15px;
    width: 100%;
}
#progressLeft{
    text-align: left;
    width: 30%;
    float: left;
}
#progressMiddle{
    text-align: center;
    width: 40%;
    float: left;
}
#progressRight{
    text-align: right;
    width: 30%;
    float: left;
}
#info{
    margin-top: 3px;
    padding: 0;
    padding-right: 7px;
    width: auto;
    height: 100px;
}
#outInfo{
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 80px;
    resize: none;/*关掉右下角手柄*/
}